server:
  port: 18900
  servlet:
    context-path: /

spring:
  datasource:
    url: jdbc:mysql://localhost:3306/ccsp?useUnicode=true&characterEncoding=UTF-8&zeroDateTimeBehavior=convertToNull&allowMultiQueries=true&useSSL=false
    username: root
    password: 
  jpa:
    open-in-view: true
    database: mysql
    database-platform: org.hibernate.dialect.MySQL5InnoDBDialect
    show-sql: true
    hibernate:
      ddl-auto: update
    properties:
      hibernate:
        enable_lazy_load_no_trans: true
